.main
  .main-header
    .group-info
      %h2.group-info__groupname= @group.name
      %p.group-info__members= @group.show_members
    = link_to "Edit", edit_group_path(@group), class: "group-edit"
  .chat-area
    %ul.messages
      = render @messeges


  .footer
    =form_for [@group, @message], html: {class: "message-form"} do |f|

      = f.text_field :content, placeholder: 'type a message',class: "message-form__textarea", cols: "1"
      / %label.image-upload{for: "upload-icon"}
      =f.label :image, class: 'image-upload' do
        = fa_icon "picture-o", class: 'icon'
        = f.file_field :image, style: "display: none"
      = f.submit 'Send', class: "message-form__button"
