.main
  .main-header
    .group-info
      %h2.group-info__groupname= @group.name
      %p.group-info__members Members: member1 member2
    = link_to "Edit", "#", class: "group-edit"
  .chat-area
    -@messeges.each do |message|
      %ul.messages
        %li.message
          %p.message__username
            = message.user.name
          %p.message__created-at
            = message.created_at
          %p.message__body
            = message.body
          .message__image
            = image_tag message.image.to_s

  .footer
    =form_for [@group, @message], html: {class: "message-form"} do |f|

      = f.text_field :body, placeholder: 'type a message',class: "message-form__textarea", cols: "1"
      = f.label class: "image-upload" do
        = fa_icon "picture-o", class: 'icon'
        = f.file_field :image, style: "display: none"
      = f.submit 'Send', class: "message-form__button"
